
@font-face {
  font-family: Jost-light;
  src: url(./fonts/Jost/static/Jost-Light.ttf);
}


body {
background-color: linen;
}

.tile{
  width: 300px;
  padding: 30px;
  margin: 20px;
  min-height: 320px;
}

.tile-image{
  width: 100%;
  height: 200px;
}

.tile-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 150px;
  margin-top: 50px;
}

.header-title {
  font-family: Jost-light;
  font-size: 50px;
}

.header-wrapper{
  margin: 150px 170px;
  margin-bottom: 0px;
}

.header-total-likes{
font-size: 30px;
font-family: Jost-light;
}

.loader {
  border: 16px solid white; /* Light grey */
  border-top: 16px solid rgb(139, 135, 135); /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 100px auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}